.bg_image{
  
    background-image: url("../../ceb.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(80vh);
  }
  .card{
    align-self: center;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    
    width: 20rem;
    height: 16rem;
}

.marginform{
    margin-top: 20px;
}