.backimage{
    background-image: url("../../ceb.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: calc(80vh);
  }
.card{
    align-self: center;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    
    width: 18rem;
    height: 14rem;
}

.bck-image{
  background-image: url("../../ceb.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
}

.marginform{
    margin-top: 20px;
}

.left{
  display: block;
  margin-left:5%;
  margin-top: 5%;
  width: 40%;
}